$dark: #81818B;
$teal: #89D8D4;
$teal-light: #C3E7EF;
$lavender: #D4C4FF;
$pink: #EEC9ED;
$purple: rgb(144, 66, 223);
$purple-light: rgb(188, 155, 242);
$purple-dark: rgb(57, 24, 91);
$text-dark: rgb(20, 20, 23);
$text-light: rgb(249, 249, 249);

$line-gradient: linear-gradient(to right, $purple 0%, $purple-light 100%);

@import url('https://fonts.googleapis.com/css?family=Questrial|Work+Sans&display=swap');

$font-body: 'Work Sans', sans-serif;
$font-display: 'Questrial', sans-serif;

.magicalLine {
  background-image: $line-gradient;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;

  transition: background-size 0.25s ease-in;
}
