$dark: #81818B;
$teal: #89D8D4;
$teal-light: #C3E7EF;
$lavender: #D4C4FF;
$pink: #EEC9ED;
$purple: #9042df;
$purple-light: #bc9bf2;
$purple-dark: #39185b;
$text-dark: #141417;
$text-light: #f9f9f9;

$line-gradient: linear-gradient(to right, $purple 0%, $purple-light 100%);

@import url('https://fonts.googleapis.com/css?family=Questrial|Work+Sans&display=swap');

$font-body: 'Work Sans', sans-serif;
$font-display: 'Questrial', sans-serif;

.magicalLine {
  background-image: $line-gradient;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;

  transition: background-size 0.25s ease-in;
}
