@import './_Colors.scss';

.card {
  align-self: flex-start;
}

.cardsSection {
  background-color: $purple;
  color: white;
  text-align: center;
}

.cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.headingOne > span {
  font-size: 1.7rem;
  font-family: $font-display;
}

.headingOne {
  font-size: 3.8rem;
  line-height: 2.4rem;
}

.outro {
  font-size: 2.0rem;
  font-family: $font-display;
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 725px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
