@import url("https://fonts.googleapis.com/css?family=Caveat:400,700|Montserrat&display=swap");
.magicalLine {
  background-image: linear-gradient(to right, #9042df 0%, #bc9bf2 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in; }

.card {
  align-self: flex-start; }

.cardsSection {
  background-color: #9042df;
  color: white;
  text-align: center; }

.cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr); }

.headingOne > span {
  font-size: 1.7rem;
  font-family: "Caveat", cursive; }

.headingOne {
  font-size: 3.8rem;
  line-height: 2.4rem; }

.outro {
  font-size: 2.0rem;
  font-family: "Caveat", cursive; }

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 725px) {
  .cards {
    grid-template-columns: repeat(1, 1fr); } }
