@import url("https://fonts.googleapis.com/css?family=Caveat:400,700|Montserrat&display=swap");
.magicalLine {
  background-image: linear-gradient(to right, #9042df 0%, #bc9bf2 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in; }

footer {
  display: grid;
  grid-gap: 2rem;
  padding: 5rem;
  background: #bc9bf2; }

.contactUs > h3 {
  font-family: "Caveat", cursive;
  font-size: 2rem; }

.harmonyFamilyYogaTagline {
  margin-bottom: 1rem; }

.footerTop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  justify-content: space-between;
  align-items: center; }

.footerTop > * > h3 {
  padding-bottom: 1.5rem; }

.footerTop > * > p {
  padding-bottom: 0.5rem; }

.footerBottom {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.12rem;
  text-align: center; }

@media (max-width: 425px) {
  footer {
    padding: 2rem; }
  .footerTop {
    grid-template-columns: 1fr;
    justify-content: center; } }

@media (min-width: 768px) {
  .footerTop {
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 1440px) {
  footer {
    padding: 8rem; } }

@media (min-width: 2560px) {
  footer {
    padding: 10rem 30rem; } }
