footer {
  display: grid;
  grid-gap: 2rem;
  padding: 5rem;
  // background: #fff000;
  background: $purple-light;
}

.harmonyFamilyYogaTagline {
  margin-bottom: 1rem;
}

.footerTop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.footerTop > * > h3 {
  padding-bottom: 1.5rem;
}

.footerTop > * > p {
  padding-bottom: 0.5rem;
}

.footerBottom {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.12rem;
  text-align: center;
}
@media (max-width: 425px) {
  footer {
    padding: 2rem;
  }
  .footerTop {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .footerTop {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  footer {
    padding: 8rem;
  }
}
@media (min-width: 2560px) {
  footer {
    padding: 10rem 30rem;
  }
}
