header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background: transparent;
  padding: 2rem 5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLeft {
  height: 7rem;
  width: auto;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    img {
      width: 15rem;
      height: 15rem;
      margin-top: 2.25rem;
    }
  }
}
.navRight {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: flex-start;
}
.navRight > a:not(:last-child) {
  padding-right: 1rem;
}

@media (max-width: 425px) {
  header {
    padding: 1rem 2rem;
  }
  .logo {
    width: 10rem;
    height: 10rem;
    margin-top: 1.25rem;
  }
}
